html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  /* background-color: #ececec; */
}

p{
  line-height: 29px;
}

h1 {
  font-family: 'Squada One', cursive;
  color:black;
  font-size: 3.3rem;
  margin-top: 0;
}

h2{
  font-size: 2.6rem;
  margin-top: 0;
}

/* Intro Section */
.page1 {
  height: 300vh;
  width: 100vw;
}

/* About Me Section */
.about-section {
  min-height: 50vh;
  width: 100vw;
  background-color: blue;
  margin-bottom: 100px;
}

.about-title {
  text-align: center;
}

.picture-container {
  display: flex;
  justify-content: center;
}

.picture {
  width: 75%;
  border-radius: 1%;
}

/* Projects Section */

.project-details {
  width: 45%;
}

.projects-title {
}

.project-tools {
  font-family: 'Squada One', cursive;
  font-size: 1.3rem;
}


/* Media Queries */
/* @media (max-width: 960px){
  .project {
    height: 50vh;
    width: 100vw;
    background-color: green;
    display: flex;
    flex-direction: column;
  }

  .project-picture, .project-details {
    float: none;
    width: 100%;
  }
} */

@media (max-width: 540px){
  html {
    font-size: 10px;
  }
  .about {
    flex-direction: column;
  }
}

@media (max-width: 720px){

}