@import url(//db.onlinewebfonts.com/c/1392b0e09b283a428f49882471060eb3?family=Birds+of+Paradise); 

html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  /* background-color: #ececec; */
}

p{
  line-height: 29px;
}

h1 {
  font-family: 'Squada One', cursive;
  color:black;
  font-size: 3.3rem;
  margin-top: 0;
}

h2{
  font-size: 2.6rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}

/* Intro Section */
.page1 {
  height: 300vh;
  width: 100vw;
  background: black;
}

/* Headers Section */

.title-headers {
  width: 100%;
  color: white;
  font-family: 'Birds of Paradise';
  font-size: 200px;
  transition: color 0.75s;
}

/* Project Section */
.project-section {
  min-height: 50vh;
  width: 100vw;
  margin-bottom: 100px;
}

.project-container {
  padding-top: 5em;
  width: 100%;
  display: flex;
  background-color: #121212;
  color: gray
}

.picture-container {
  display: flex;
  justify-content: center;
  
}

.project-picture {
  width: 90%;
  border-radius: 5px 5px 5px 5px;
}

.details-container {
  margin: 0 5%;
}
.project-title {
  margin-top: 5%;
  color: gainsboro;
}

.project-details {
  width: 45%;
}

.projects-title {
  justify-content: left;
}

.project-info {
  color: #c1c1c1;
}

.project-tools {
  font-family: 'Squada One', cursive;
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  color: #c1c1c1;
}


/* Buttons */
.button-container {
  display: flex;
  height: 40%;
  align-items: center;
}

.github {
  background-color: gainsboro;
  letter-spacing: 0.15em;
  width: 100px;
  padding: 15px 12px; 
  border-radius: 10px;
  border: gray 2px solid;
  color: black;
  text-align: center;
  margin: 0px 15px 0 15px;
  transition: padding 0.5s,font-size 0.5s, font-weight 0.5s, border-radius 0.5s ;
  -webkit-transition: padding 0.5s,font-size 0.5s, font-weight 0.5s, border-radius 0.5s;
}

.github:hover {
  background: white;
  border: yellow 2px solid;
}

.about-title {
  color: white;
  font-size: 15em;
  font-family: 'Birds of Paradise';
}

.contact-form {
  color: gainsboro;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.input-container {
  display: flex;
  flex-direction: column;
  background-color: green;
}

.input-general {
  background-color: #131313;
  color: gainsboro;
  height: 2em;
  font-family: 'Lemonada', cursive;
  font-size: 0.75em;
  padding-top: 0.5em;
  margin-top: 2em;
  text-align: center;
  letter-spacing: 0.1em;
  
}

.input-small {
  border-bottom: gainsboro 1px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 40%;
  
}

.input-large {
  border: gainsboro 1px solid;
  margin-bottom: 1em;
  height: 9em;
  width: 50%
}

.input-submit {
  background-color: gainsboro;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  letter-spacing: 0.15em;
  text-align: center;
  width: 10em;
  padding: 15px 12px; 
  border-radius: 10px;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Media Queries */




/* @media (min-width: 960px){
  .project-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row ;
  }
  .details-container {
    display: flex;
    flex-direction: column;
  }

  .project-picture {
    width: 80%;
  }
}

@media (max-width: 960px){
  .project-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .project-picture {
    width: 100%;
  }
} */

@media (max-width: 1150px){
  .project-container {
    display: flex;
    flex-direction: column;
  }
  .title-headers {
    text-align: center;
  }
  .project-picture {
    max-width: 90%;
    max-height: 70vh;
    width: auto;
  }
  .details-container {
    text-align: center;
  }
  .button-container {
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

/* @media (max-width: 540px){
  html {
    font-size: 10px;
  }
} */

